@import '~arui-feather/vars.css';

.grid {
    display: flex;
    margin-left: calc(var(--gap-s) * -1);
    margin-right: calc(var(--gap-s) * -1);

    &_wide {
        width: calc(100% + var(--gap-s) * 2);
    }

    &_wrap {
        flex-wrap: wrap;
    }

    &_withoutSpaces {
        margin-left: 0;
        margin-right: 0;

        .grid-item {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &_bottomMargin {
        .grid-item {
            margin-bottom: var(--gap-s);
        }
    }
}

.grid_withoutSpaces.grid_wide {
    width: 100%;
}
