@import '../../../node_modules/arui-feather/vars.css';

:root {
    --grid-column-count: 12;
    --grid-column-width: calc(100% / var(--grid-column-count));
}

.grid-item {
    padding-left: var(--gap-s);
    padding-right: var(--gap-s);
}

@for $i from 1 to 12 {
    .grid-item_large_col-$i {
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: calc(var(--grid-column-width) * $i);
        max-width: calc(var(--grid-column-width) * $i);
    }
}

@media (--medium-only) {
    .grid-item_hideMedium {
        display: none;
    }

    @for $i from 1 to 12 {
        .grid-item_medium_col-$i {
            flex-shrink: 0;
            flex-grow: 0;
            flex-basis: calc(var(--grid-column-width) * $i);
            max-width: calc(var(--grid-column-width) * $i);
        }
    }
}

@media (--small-only) {
    .grid-item_hideSmall {
        display: none;
    }

    @for $i from 1 to 12 {
        .grid-item_small_col-$i {
            flex-shrink: 0;
            flex-grow: 0;
            flex-basis: calc(var(--grid-column-width) * $i);
            max-width: calc(var(--grid-column-width) * $i);
        }
    }
}

