@import '~arui-feather/vars.css';

.sidebar {
  width: 200px;
  background: var(--color-background-alfa-on-color);
  flex: 0 0 auto;

  &__logo {
    width: 100%;

    img {
      width: 100%;
    }

  }
}